/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px; /* Padding kiri dan kanan */
    height: 80vh;
    box-sizing: border-box; /* Ensure padding doesn't affect overall size */
}
.hero-text {
    max-width: 50%;
}
.hero-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.hero-text button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Sudut membulat */
}
.hero-text button:hover {
    background-color: #0056b3;
}
.hero-image {
    max-width: 50%;
    height: 100%;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Centered Content */
.centered-content {
    text-align: center; /* Center the text */
    margin: 50px auto; /* Center the container */
    max-width: 80%; /* Optional: Limit the width */
}
.centered-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.centered-content p {
    font-size: 1.2em;
    margin: 0 auto; /* Center the paragraph */
    max-width: 600px; /* Set the maximum width for the paragraph */
    line-height: 1.6; /* Improve readability */
}