@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff: "Montserrat", sans-serif;
    --colorprimary: #FFFFFF;
    --colorsecondary: #000000;
    --coloraccent : #33A1FE;
    --h1-font-weight: bold;
    --h1-font-size: 64px;
    --h1-line-height: 70px;
    --h1-font-color: var(--colorprimary);
}

body{
    max-width: 1280px;
    margin: 100px auto;
    background: var(--colorsecondary);
    color: var(--colorprimary);
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

div{
    flex: 1;
}
h1{
    font: var(--ff);
    font-weight: var(--h1-font-color);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}   

p{
    font: var(--ff);
}

a{
    background: var(--coloraccent);
    color: var(--colorprimary);
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 8px;
}
.Secbtn{
    background: none;
    border: solid 2px var(--coloraccent);

}

img{
    width: 100%;
}
