@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #1e1e1e;
    --secondary-color: #ffffff;
    --accent-color: #007BFF;
    --hover-color: #0056b3;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

